{
  "action" : "actions",
  "list" : [
    {
      "action" : "particle",
      "specification" : "unsungbulletimpact1"
    },
    {
      "action" : "particle",
      "specification" : "unsungbulletimpact1"
    },
    {
      "action" : "particle",
      "specification" : "unsungbulletimpact1"
    },
    {
      "action" : "particle",
      "specification" : "unsungbulletimpact2"
    },
    {
      "action" : "particle",
      "specification" : "unsungbulletimpact2"
    },
    {
      "action" : "particle",
      "specification" : "unsungbulletimpact2"
    },
    {
      "action" : "particle",
      "specification" : "unsungbulletimpact3"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/ricochets/bulletConcrete-1.ogg",
        "/sfx/ricochets/bulletConcrete-2.ogg",
        "/sfx/ricochets/bulletConcrete-3.ogg",
        "/sfx/ricochets/bulletConcrete-4.ogg",
        "/sfx/ricochets/bulletConcrete-5.ogg",
        "/sfx/ricochets/bulletConcrete-6.ogg" ]
    }
  ]
}
